In [2]:
import pandas as pd

In [14]:
df = pd.read_excel("final.xlsx",index_col=0)

In [28]:
dfp = pd.read_excel("temp3.xlsx", index_col=0)

In [31]:
dfp

Empty DataFrame
Columns: [Unnamed: 0, bjdCode, kaptCode, kaptName, kaptAddr, doroJuso, welfareFacility, kaptdWtimebus, subwayLine, subwayStation, kaptdWtimesub, convenientFacility, educationFacility, lng, lat, managementOffice, seniorCenter, childCare, library, communityFacilities, playGround, restFacilities, kindergarten, communitySpace, bicycleShed, publicOffice, hospital, departmentStore, mall, park, elementarySchool, middleSchool, highSchool, university]
Index: []

[0 rows x 34 columns]

In [16]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.to_excel("final2.xlsx")

In [12]:

df = df.dropna(how='all',subset=['selling_price','chartered_price','monthly_price','transaction_price']) # 넷 중 하나라도 없는 데이터는 drop 함

In [29]:
dfp = dfp[dfp['kaptAddr'].str.contains("청주시")]

In [30]:
dfp

Empty DataFrame
Columns: [Unnamed: 0, bjdCode, kaptCode, kaptName, kaptAddr, doroJuso, welfareFacility, kaptdWtimebus, subwayLine, subwayStation, kaptdWtimesub, convenientFacility, educationFacility, lng, lat, managementOffice, seniorCenter, childCare, library, communityFacilities, playGround, restFacilities, kindergarten, communitySpace, bicycleShed, publicOffice, hospital, departmentStore, mall, park, elementarySchool, middleSchool, highSchool, university]
Index: []

[0 rows x 34 columns]

In [27]:
dfp[dfp['mall'] == 1]

Empty DataFrame
Columns: [bjdCode, kaptCode, kaptName, kaptAddr, doroJuso, welfareFacility, kaptdWtimebus, subwayLine, subwayStation, kaptdWtimesub, convenientFacility, educationFacility, lng, lat, managementOffice, seniorCenter, childCare, library, communityFacilities, playGround, restFacilities, kindergarten, communitySpace, bicycleShed, publicOffice, policeOffice, hospital, departmentStore, mall, park, elementarySchool, middleSchool, highSchool, university, selling_price, chartered_price, monthly_price, transaction_price]
Index: []

[0 rows x 38 columns]

In [11]:
df[df['kaptAddr'].str.contains("서울특별시 종로구")]

Empty DataFrame
Columns: [bjdCode, kaptCode, kaptName, kaptAddr, doroJuso, welfareFacility, kaptdWtimebus, subwayLine, subwayStation, kaptdWtimesub, convenientFacility, educationFacility, lng, lat, managementOffice, seniorCenter, childCare, library, communityFacilities, playGround, restFacilities, kindergarten, communitySpace, bicycleShed, publicOffice, policeOffice, hospital, departmentStore, mall, park, elementarySchool, middleSchool, highSchool, university, selling_price, chartered_price, monthly_price, transaction_price]
Index: []

[0 rows x 38 columns]

In [7]:
df.to_excel("price_done1.xlsx")

In [9]:
df = df.dropna(how='all',subset=['selling_price','chartered_price','monthly_price','transaction_price']) # 넷 중 하나라도 없는 데이터는 drop 함

In [12]:
pdf = df[df['policeOffice'] == 1]

In [14]:
pdf['policeOffice']

23058    1
23061    1
23063    1
23064    1
23066    1
        ..
29146    1
29232    1
29237    1
29238    1
29240    1
Name: policeOffice, Length: 685, dtype: int64